@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);       
  --chart-4: oklch(0.828 0.189 84.429);      
  --destructive: oklch(0.577 0.245 27.325);  
  --muted: oklch(0.97 0 0);                  
}


.rbc-event[data-status="approved"] {
  background-color: var(--chart-2) !important;
  color: white;
  border: none;
}

.rbc-event[data-status="pending"] {
  background-color: var(--chart-4) !important;
  color: white;
  border: none;
}

.rbc-event[data-status="rejected"] {
  background-color: var(--destructive) !important;
  color: white;
  border: none;
}

.rbc-event[data-status="cancelled"] {
  background-color: var(--muted) !important;
  color: black;
  border: none;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


